.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1E3A5F; /*azul institucional */
  padding: 1rem 2rem;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a.active {
  border-bottom: 2px solid #C9A34E; 
}