<app-navbar></app-navbar>
<div class="hero-section">
  <h1>Oferta académica Complejo Educativo Walter A. Soundy</h1>
  <p>Inicio > Oferta Académica</p>
</div>

<div class="contenedor-principal">
  <h2 class="seccion-titulo">Grados educativos actuales</h2>
  <div class="linea-decorativa"></div>

  <div class="cuadricula-grados">
    @for (item of listaGrados; track item.nivel) {
      <div class="tarjeta">
        <div class="contenedor-foto">
          <img [src]="item.imagen" [alt]="item.nivel" class="foto-grado">
        </div>

        <div class="contenido-texto">
          <h3>{{ item.nivel }}</h3>
          <p>{{ item.descripcion }}</p>
  
          <button (click)="abrirRequisitos(item)" class="boton-info">
            {{ gradosSeleccionado === item ? 'Cerrar requisitos' : 'Requisitos de inscripción' }}
          </button>

          @if (gradosSeleccionado === item) {
            <div class="lista-requisitos-desplegable">
              <h4>Documentos requeridos:</h4>
              <ul>
                @for (req of item.requisitos; track req) {
                  <li>{{ req }}</li>
                }
              </ul>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
<app-footer></app-footer>